* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-family: tahoma, arial, "Hiragino Sans GB", '宋体', sans-serif;
}
body {
  line-height: 1.5px;
}
.outter {
  width: 1000px;
  border: 1px solid black;
}
.depari {
  padding-top: 20px;
  width: 628px;
}
.depari .tHead {
  margin-bottom: 20px;
  border-radius: 40px;
  width: 100%;
  display: flex;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 10px 40px -5px rgba(150, 172, 177, 0.8);
  color: #83818c;
}
.depari .tHead div {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  width: 50%;
  height: 50px;
  font-size: 16px;
  color: #333;
  letter-spacing: 5px;
  border-bottom: 2px solid transparent;
}
.depari .tHead div:hover {
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.depari .tHead .active {
  color: #0086f6;
}
.depari .tBody {
  padding-top: 20px;
  background-color: #fff;
}
.depari .tBody div {
  width: 100%;
}
.depari .tBody .tBodyHeads {
  display: flex;
  text-align: center;
  line-height: 30px;
}
.depari .tBody .tBodyHeads div {
  border-bottom: 1px solid #e6e6e6;
  border-radius: 1px;
}
.depari .tBody .tBodyHeads div:hover {
  color: #0086f6;
  cursor: pointer;
}
.depari .tBody .tBodyHeads .active {
  color: #0086f6;
  border-bottom: 2px solid #0086f6;
}
.depari .tBody .tBodyInners div {
  width: 100%;
}
.depari .tBody .tBodyInners div .domestic-city-item {
  text-align: center;
}
.depari .tBody .tBodyInners div .domestic-city-item .city-character {
  width: 50px;
  line-height: 32px;
  vertical-align: top;
  font-weight: 600;
  float: left;
  padding-right: 1px;
}
.depari .tBody .tBodyInners div .domestic-city-item ul li {
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  padding: 0 2px 0 8px;
  width: 84px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  color: #333;
  float: left;
  cursor: pointer;
  position: relative;
}
.depari .tBody .tBodyInners div .domestic-city-item ul li:hover {
  color: #0086f6;
  background-color: #F2F9FF;
}
.depari .tBody .tBodyInners .tBodyInner0 {
  display: none;
}
.depari .tBody .tBodyInners .tBodyInner1 {
  display: none;
}
.depari .tBody .tBodyInners .active {
  display: block;
}
.depDate input {
  margin-top: 20px;
  width: 312px;
  border-radius: 40px;
  height: 50px;
  line-height: 50px;
  box-shadow: 0 10px 40px -5px rgba(150, 172, 177, 0.8);
  color: #83818c;
}
.outter .proxies {
  float: left;
  padding-left: 200px;
  height: 50px;
}
#proxies #proxies_label {
  text-align: center;
  padding-bottom: 0px;
}
#proxies #proxies_label label {
  padding-top: 1px !important;
}
#proxies .form-check .form-check-input {
  width: 4em;
  height: 2em;
  margin-bottom: 20px;
}
#proxies .form-check .form-check-label {
  font-size: 12px;
  margin-top: 6px;
  margin-left: 6px;
}
